.action-bar {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f3f1ed;
    position: fixed;
    top: 0;
    z-index: 999;
}

.action-bar div {
    height: 50px;
    line-height: 50px;
}

.header-back {
    width: 15%;
    color: #ea5504;
}

.header-title {
    width: 70%;
    font-size: 18px;
    text-align: center;
}

.header-right {
    width: 15%;
    color: #ea5504;
}

.selection-con {
    padding: 20px;
    font-size: 14px;
}

.selection-con p {
    margin-bottom: 20px;
}

.selection-con span {
    margin-right: 9px;
}
.selection-on {
    padding: 5px;
    border: 1px solid #ea5504;
    background-color: #ea5504;
    color: #FFF;
}
.selection-con footer button {
    float: right;
    margin-left: 10px;
}
.header-back img{
    height: 30px;
    padding-top: 12px;
    margin-top: 5px;
}
.header-right img{
    height: 30px;
    float: right;
    margin-top: 5px;
    padding-top: 12px;
}
#top-back{
    position: fixed;
    right: 0%;
    bottom: 10px;
    width:50px;
    height: 50px;
    font-size: 28px;
    border-radius: 100%;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    z-index: 9999;
}