*{margin: 0;padding: 0;}
body{font-family: "微软雅黑";}
.jfArea{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding:25px  0;
	background: #bd946b;
	color: #fff;
}
.jfArea p{overflow: hidden;font-size: 16px;text-align: center;}
.jfArea>b{
	display: block;
	text-align: center;
	font-size: 45px;
	margin: 15px 0;
}
.dh{
	width: 90%;
	overflow: hidden;
	padding: 5px  5%;
	border-bottom: 1px solid #f3f1ee;
	font-size: 16px;
}
.dh input{border: none;outline: none;color: #333;margin-left: 15px;font-size: 16px;}
.dh span{float: right;color: #9dd9f2;}
.confirm{
	width: 80%;
	padding: 10px 0;
	border-radius:5px ;
	background:#ea5504 ;
	margin: 100px auto;
	border: none;
	display: block;
	font-size: 16px;
	color: #fff;
	outline: none;
}
.more{
	width: 50%;
	padding: 10px 10px ;
	overflow: hidden;
	border-radius:25px;
	background: #f69d08;
	border: none;
	display: block;
	position: absolute;
	bottom: 35px;
	color: #fff;
	left: 25%;
	outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
	margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}
